


/* nav-bar */
  .dropdown-content {
    min-width: 150px;
  }

  
/* hero section */
  .rotate-360 {
    transition: transform 1s ease-in-out;
  }
  .group:hover .rotate-360 {
    transform: rotate(360deg);
  }

  @media (max-width: 480px) {
    .relative {
      padding-top: 50px;
    }

    #typing-text,
    #second-line {
      text-align: center;
    }

    /* .flex {
      flex-direction: column;
    } */

    .mt-16 {
      margin-top: 12px;
    }
  }

  .marquee-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    height: 50px; 
  }

  .marquee-text-wrapper {
    display: flex;
    animation: marquee 15s linear infinite;
    width: max-content;
  }

  .marquee-text {
    flex-shrink: 0;
    padding-right: 2rem;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 640px) {
    #static-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 50px; 
      padding: 0;
      margin: 0;
    }

    #marquee-container {
      display: none;
    }
  }

/* why choose us section */

  @media (min-width: 1252px) {
    #feature-grid {
      gap: 2rem; 
    }
  }

  @media (max-width: 480px) {
    #feature-grid > div {
      display: flex;
      flex-direction: column;
      align-items: center; 
      text-align: center;
      position: relative; 
    }

    #feature-grid > div span {
      margin-bottom: 0.5rem; 
    }

    #feature-grid > div::after {
      content: '';
      
      position: absolute;
      bottom: -10px; 
      left: 50%;
      transform: translateX(-50%);
      width: 90%; 
      height: 1px;
      background-color: #ddc32c; 
    }

    #feature-grid > div:last-child::after {
      content: none;
    }
  }

  #content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #section-heading {
    margin-bottom: 2rem; 
  }
 

/* careers section */
#careers {
    padding: 4rem 0;
  }
  
  #careers-image-container {
    transition: all 0.5s ease;
    background-color: #ffffff; 
  }
  
  #careers-text-container {
    transition: all 0.5s ease;
  }
  
  #careers-cta-button {
    background-color: #73AFE8;
    color: #fff;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #careers-cta-button:hover {
    background-color: #509BE2;
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  #careers-heading {
    font-size: 2.5rem;
    font-weight: 800;
    color: #2A1768;
    margin-bottom: 20px;
  }
  
  #careers-description {
    font-size: 1.125rem;
    color: #707070;
    margin-bottom: 30px;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
  }
  
  @media (max-width: 768px) {
    #careers-heading {
      font-size: 2rem;
    }
  
    #careers-description {
      font-size: 1rem;
    }
  
    #careers-cta-button {
      font-size: 1rem;
      padding: 12px 24px;
    }
  }
  